.button {
  padding: 10px 20px 7px 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  border-radius: 3px;
  border: none;
}
