.promo {
  position: relative;
  padding-right: calc(50% - 760px);
  padding-left: calc(50% - 760px);
}

.promo__wrapper {
  /*   position: absolute; */
  height: 650px;
  background-image: url("../../img/bg-main.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__logo {
  margin-top: 200px;
  margin-bottom: 40px;
}

.promo__logo-img {
  width: 250px;
}

.promo__mission {
  font-size: 20px;
  line-height: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.promo__mission-text {
  color: #f7d460;
  text-decoration: underline;
}
